.navigation {
	display: flex;
	flex-direction: column;
	padding: 20px;

	.navigationItem {
		padding: 8px 24px;
		margin-bottom: 10px;
		border-radius: 4px;
		background-color: var(--gray700);
		color: var(--gray200);
		text-decoration: none;
		cursor: pointer;
		transition: 0.2s;
		border: 1px solid var(--gray500);

		&.active {
			background-color: var(--gray600);
			color: var(--gray100);
			border: 1px solid var(--gray400);
		}

		&:hover {
			background-color: var(--gray600);
			color: var(--gray100);
			border: 1px solid var(--gray400);
		}
	}
}
