:root {
  --gray900: #0b0d10;
  --gray800: #14171b;
  --gray700: #1e2329;
  --gray600: #2a3138;
  --gray500: #3b454e;
  --gray400: #56606a;
  --gray300: #8b949e;
  --gray200: #c2c8cf;
  --gray100: #e5e7ea;
}

html, body {
  background-color: var(--gray900) !important;
}

p {
  font-size: 16px;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}