.messagesContainer {
	display: block;
	min-height: 60px;
	margin-bottom: 20px;
	background-color: var(--gray800);
	border: 1px solid var(--gray500);
	border-radius: 8px;
	padding: 40px;

	.message {
		color: white;
		font-size: 16px;
		line-height: 1.6;

		strong {
			color: white;
		}

		span {
			color: var(--gray200);
		}

		&:not(:first-child) {
			margin-top: 20px;
		}
	}
}
